
.header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.logoPic{
	position: absolute;
	right: 78%;
	
	
}
.filter {
  width: 100%;
  background-color: #306D29;
  padding-bottom: 10px;
  padding-top:10px;
  text-align: center;
}

.filter2 {
  width: 100%;
  background-color: #306D29;
  padding-bottom: 10px;
  padding-top:10px;
  text-align: center;
}

.titlePic {
  width: 100%
}

.hoursInfo {
  text-align: center;
  font-weight: 600;
  background-color: #0D530E;
  padding-bottom: 10px;
  padding-top:10px;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif
  font-size: 20px;
}

.aboutMeHeader{
	background-color: #E7E1B1;
	width: 50%;
	text-align: center;
	height: 600px;
}
.aboutMeText{
	margin-left: 20px;
	margin-top: 250px;
	vertical-align: center;
	font-size: 24px;
	font-weight: 600;
}

.aboutMePic{
	background-color: #E7E1B1;
	position: relative;
	right: -100%;
	bottom: 366px;
}

.BobbieJoPic{
	border-radius: 8px;
	width: 600px;
	height: 596px;
	object-fit: cover;
}

body {
  background-color: #FBF5DD;
}

* {
  box-sizing: border-box;
}

.galleryBackground{
	width: 100%;
	position: absolute;
	height: 100%;
	object-fit: cover;
	margin-top: 25px;
	
}
.CCL{
	position: relative;
	top: 700px;
	left: 10px;
}

.container {
  position: relative; 
  width: 500px;
  margin-left: 35%;
  margin-top: 10px;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* gets the sizing right when selecting an image*/
.selectedPic{
	width: 100%;
	height: auto;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  height: auto;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


