

/* Centered text */
.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}
.filter {
  width: 100%;
  background-color: #306D29;
  padding-bottom: 10px;
  padding-top:10px;
  text-align: center;
}
.titlePic {
  width: 100%
}
.hoursInfo {
  text-align: center;
  background-color: #0D530E;
  padding-bottom: 10px;
  padding-top:10px;
}

.aboutMeText{
	background-color: #E7E1B1;
	width: 50%;
	height: 600px;
	text-align: center;
}

.aboutMePic{
	background-color: #E7E1B1;
	position: relative;
	right: -50%;
	bottom: 600px;
	margin-top: 30px;
}

.BobbieJoPic{
border-radius: 8px;
}

body {
  background-color: #FBF5DD;
}
